body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #B4D6CD;
}

.calculator {
    margin: 2vw;
    width: 400px;
    background-color: #ffea2d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.calculator div {
    margin-bottom: 10px;
}

.calculator label {
    margin-right: 10px;
}

.calculator input {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    background-color: #FF8C9E;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(237, 0, 0);
}

button:hover {
    background-color: blue;
}

.input-1, .input-2, .hasil{
    padding-top: 10px;
    display: flex;
    font-size: 23px;
}



h1{
    text-align: center;
}

